<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{baseModalVm.modalData.title}}</h3>
    <div class="closeIconWrapper" ng-if="baseModalVm.modalData.closeIcon">
        <button class="closeIcon" ng-click="baseModalVm.actions.dismiss()">X</button>
    </div>
</div>
<div class="modal-body" id="modal-body">
    {{baseModalVm.modalData.body}}
</div>
<div class="modal-footer" ng-if="baseModalVm.modalData.buttons">
    <button ng-repeat="button in baseModalVm.modalData.buttons" 
        class="btn btn-{{button.type}}" 
        ng-click="button.action()">
        {{button.text}}
    </button>
</div>