<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{loginModalVm.modalData.title}}</h3>
    <div class="closeIconWrapper" ng-if="loginModalVm.modalData.closeIcon">
        <button class="closeIcon" ng-click="loginModalVm.actions.dismiss()">X</button>
    </div>
</div>
<form name="loginForm" ng-model-options="{ updateOn: 'blur'}" novalidate>
    <div class="modal-body" id="modal-body">
        <div class="form-group" 
            ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}">
            <label for="email">Email</label>
            <input id="email" 
                name="email"
                type="email"     
                class="form-control"
                ng-model="loginModalVm.credentials.email" 
                required />
            <span ng-if="loginForm.email.$invalid && loginForm.email.$dirty"><small>invalid email</small></span>
        </div>
        <div class="form-group"
            ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
            <label for="password">Password</label>
            <input id="password"
                name="password"
                type="password"
                class="form-control"
                ng-model="loginModalVm.credentials.password"
                required />
            <span ng-if="loginForm.password.$invalid && loginForm.password.$dirty">invalid password</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" 
            type="submit" 
            ng-click="loginModalVm.login(loginForm)">
            LOGIN
        </button>
        <button class="btn btn-warning" type="button" ng-click="loginModalVm.actions.dismiss()">CANCEL</button>
    </div>
</form>
