.main-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #424242;;
    padding: 20px 10px;

    .footer-wrapper{
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;

        p{
            text-align: center;
            color: white;
            font-weight: 600;
        }
    }
}